/* Accordion.css */
.accordion-wrapper[cs-state="closed"] .accordion-body {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  flex-wrap: wrap;
}

.accordion-wrapper[cs-state="open"] .accordion-body {
  visibility: visible;
  height: auto;
  transition: height 0.3s ease;
  flex-wrap: wrap;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  padding: 1rem;
}

.accordion-head {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.caret-icon {
  transition: transform 0.3s ease;
}

.accordion-wrapper[cs-state="open"] .caret-icon {
  transform: rotate(180deg);
}

.accordion-body {
  padding: 1rem;
  font-weight: 550;
}
