/* Accordion.css */
.accordion-wrapper[cs-state="closed"] .accordion-body {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  flex-wrap: wrap;
}

.accordion-wrapper[cs-state="open"] .accordion-body {
  visibility: visible;
  height: auto;
  transition: height 0.3s ease;
}

.accordion-head {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  /* border-radius: 10px; */
  /*upadte commit*/
}

.caret-icon {
  height: 1rem;
  /* background-color: #ccc; */
  transition: transform 0.3s ease;
}

.accordion-wrapper[cs-state="open"] .caret-icon {
  transform: rotate(180deg);
}

.accordion-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.comment-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  p {
    color: green;
    transform: rotate(360deg);
  }
}
