.images-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    /* Add space between cards */
    margin: 2rem;
        padding: 1rem 1rem 1rem 1rem;
        background-color: #fff1b4;
        border-radius: 10px;
    /* Add padding around the grid */
}

.image-card-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    /* Center items horizontally */
    width: 45rem;
    /* Set width of each image card */
    height: 50rem;
        /* Allow height to adjust based on content */
        gap: 1rem;
        /* Add margin for spacing between rows */
}

.image-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem 0 0;
}

.image-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
        /* Add spacing below the title */
}

.image-src {
    max-width: 40rem;
        min-width: none;
        max-height: 40rem;
        border-radius: 8px;
        /* Round corners of the image to match card */
}