.accordion-wrapper {
  font-size: 20px;
  font-family: helvetica neue;
}
.image-card-container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  height: auto;
}
.images-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  word-break: break-word;
  background-color: light grey;
}
.css-0 {
  min-width: 400px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}
.comments-scrollable {
  max-height: 300px; /* Set a fixed height for the scrollable section */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 300px;
}

.comments-scrollable {
  background: #fb6c45;
}
