.images-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
} 
.comment-body {
}

.image-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 1rem;
  border: 1px blur(red);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 7px  blur( rgb(161, 130, 130));
  width: 300px;
  height: 300px;
}