.locations-pictures-container {
  display: inline-flex;
  flex-direction: row;
  align-content: space-around;
  flex-flow: wrap;
}
.locations-pictures {
  height: 300px;
  width: 500px;
  padding: 4px;
}
