.image-form-container {
  padding: 4em;
}
#upload-photos-to-location {
}
#comment-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  border-radius: 8px;
  align-self: flex-start;
  margin: 3rem;
}
