h1.landing-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*
  background-image: url(../assets/happy-quote.jpg); */
  padding: 5rem;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
  margin: 0 auto;
  /* border-radius: 10px;
  box-shadow: 1px 4px 10px 4px rgba(0, 0, 0, 0.383); */
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  text-align: center;
}
video.auto-vid {
  min-height: 50%;
}
.image-styling-landing {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .image-styling-landing {
    height: 80vh;
    min-height: 500px;
    max-height: 1300px;
  }
}
.orange-blob {
}
