h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8rem;
  /* background-clip: url(../assets/a5861da26813d5abd44f89eccff992be.mp4); */
}
video.auto-vid {  

min-width: 100%;
min-height: 50%;
}


