/* .card-container {
  display: flex;
  flex-direction: column;

  margin: 4px;
  padding-top: 24px;
}

*/
.card-container {
  display: flex;
  flex-direction: row;
}

.delete-location-comp {
  color: red;
}
#description-text {
  flex-direction: row;
    word-wrap: wrap;

}

.location-image {}

.image-upload-comp {}

.image-cards-container {
  display: flex;
  flex-direction: column;
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}


#bio {
  display: flex;
  flex-direction: row;
  word-wrap: wrap;
  justify-content: center;


  border-radius: 3px;
  padding-bottom: 3%;

}

#update-biography {
  display: flex;
  margin: auto;
  padding: 4pt;
  flex-direction: column
}

#add-pictures {
  padding: 4px;
  font-weight: 900;
  font-size: medium;
  font-style: helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#delete-component {
  border: none;
  outline: transparent;
  color: #2941ab;
  padding-top: 4px;
  padding-bottom: 6px;
}
