.outer_card {
  display: flex;
  flex-direction: column;

    /* align-content: flex-start; */

    text-align: center;
    align-items: center;
}

#location-photo-text {}

#add-location-text {
  text-align: center;
  padding: 1rem;
}