.outer_card {
  display: flex;
  flex-direction: column;

  /* border: 1px solid #fb6c45; */
  background-repeat: no-repeat;
  background-size: contain;
  /* align-content: flex-start; */
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8eb;

  border-bottom: 1px solid black;
}
.input_container {
  background-color: white;
  border-radius: 10px;

  width: 800px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#location-photo-text:hover {
  background-color: white;
  color: #fb6c45;
}

#add-location-text {
  text-align: center;
  padding: 1rem;
}
