.locations-container-wrapper {
  background-image: linear-gradient(90deg, #f1eeb7, #700f11);
  background: url(../assets/31994bae7657087a9d7f486b8cd108c1.mp4);

  /* border-radius: 10px solid #FB6C45; */
  /* border: 4rem solid #f0f0f0; */
  border-radius: 10px;
  height: 100%;
  width: 100%;
  /* background-color: #2f2b1d; */
  /* background-color: #fff1b4; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  /* Center items horizontally */

  /* 20% padding from the left and right sides */

  /* Ensure padding is included in the width */
}

.location-details-head {
  display: flex;
}
.location-header {
  width: 50rem;
  /* Set width of the main image card */
  /* height: 40rem; */
  /* Set height of the main image card */
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.location-image {
  /* height: 100%;
  position: absolute;
  top: 0;
  background: url(../assets/flowing-melted-cheese-isolated-white-background-processed-cheese-wallpaper_345837-792.avif); */
  /* Set width of the main image card */
  /* Set height of the main image card */
}
li {
  list-style: none;
}
.location-name-img {
}

.location-image-media {
  width: 100%;

  /* Ensure the image covers the container */
}
.location-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1rem;
}
.images-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.location-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: auto;

  background-image: repeating-linear-gradient(90deg, #f0f0f0, #f1eeb7, 100px);
}
.location-details-image-container {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  /* background-image: url(../assets/flowing-melted-cheese-isolated-white-background-processed-cheese-wallpaper_345837-792.avif); */
}
.location-name {
  font-size: 2rem;
  font-weight: 700;
  color: #700f11;
  padding: 1rem;
}
