/* .card-container {
  display: flex;
  flex-direction: column;

  margin: 4px;
  padding-top: 24px;
}

*/
#description-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

img.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* width: 100%; */
}

/* .establishment-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-top: 4%;
  margin: 8px;
}

*/

.description-div {
display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  color: #1976d2;
}

#bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  border-radius: 3px;
  padding-bottom: 3%;

}

#update-biography {
  display: flex;
  margin: auto;
  padding: 4pt;
  flex-direction: column
}

#add-pictures {
  padding: 4px;
  font-weight: 900;
  font-size: medium;
  font-style: helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#delete-component {
  border: none;
  outline: transparent;
  color: #2941ab;
  padding-top: 4px;
  padding-bottom: 6px;
}
