.location-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  text-align: center;
  font-weight: 700;
}


#description-text {
  font-size: x-large;
  font-weight: 700;
}

.first-container-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

}

.location-image {
  justify-self: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
    min-width: 1024px;
      position: sticky;
      /* margin-right: 1rem; */
      /* border: 1px rgb(161, 145, 145); */
      /* border-radius: 10px; */
      /* box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.383); */
      /* backdrop-filter: blur(7px); */
    
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(240, 23, 245, 2), rgba(255, 33, 25, 24), rgba(255, 255, 255, 0.5));
    border: 1px rgb(161, 145, 145);
/* box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.383); */
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  image-rendering: optimizeQuality;

}

.image-upload-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#establishment-bio {
  
  border-radius: 3px;
  padding-bottom: 3px;
}



#add-pictures {
  padding: 2rem;
  font-weight: 900;
  font-size: medium;
  font-style: helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#delete-component {
  border: none;
  outline: transparent;
  color: #2941ab;
  padding-top: 4px;
  padding-bottom: 6px;
}