.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  padding: 20px;
  margin: 0;
  box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.383);
  background-color: #303133;
  backdrop-filter: blur(5px);
}

.link-location {
  background-color: #1976d2;
  border-radius: 2px;
  padding: 4px;
}
