.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.link-location {
  color: #fb6c45;

  border-radius: 10px;

  margin: 5px;
  font-size: 20px;
  font-weight: 500;

  /* background-color: #f1eeb7; */
  /* background-color: #700f11; */

  backdrop-filter: blur(5px);
}
.link-location {
}
/* .footer footer {
  justify-content: center;
  position: absolute;
  display: flex;
} */
.hamburger-menu {
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div.nav-link,
a.link,
a:visited,
a.active,
div.nav-link {
  text-decoration: none;
  color: #fb6c45;
}
