.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: 550;
  box-shadow: 1px 4px 10px 4px rgba(0, 0, 0, 0.383);
  background-color: #303133;
  /* background-color: #700f11; */
  backdrop-filter: blur(5px);

  /* overflow-y: 0; */
  height: 69px;
  top: 20;
  position: static;
}

a,
div.nav-link,
a.link,
a:visited,
a.active,
a:hover,
div.nav-link {
  text-decoration: none;
  color: #fb6c45;
  /* background-color: #303133; */
}

.link-location {
  color: #fb6c45;
  background-color: white;
  border: 1px;
  border-radius: 10px;
}

.users-profile {
  list-style: none;
  /* border-radius: 3px;
  padding: 4px;
  font-style: normal;
  background-color: #1976d2;
  border: 3px solid #9fafbe;
  border-radius: 3px;
  color: white;
    */
}
