/* textarea[name="biography"] {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
button.update-biography {
  margin: 4rem;
  padding: 2px;
}

*/
.location-bio {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
    font-size: larger;
      */
}
