.user-locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  margin-top: 10rem;
}

#users-locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.location-card {

}

.location-inner-wrapper {
  text-align: center;
color: #fb6c45;
  font-size: 18px;
  margin-bottom: 10px;
}

.location-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-locationpage-images {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
}

.delete-location-profile-page {
  margin-top: 10px;
}
