.users-locationpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.users-locationpage-images {
  border-radius: 10px;
  height: auto;
  width: 500px;
  padding-top: 10px;
}
