*,
body {
  margin: 0;
}
html {
  background-image: url(assets/priscilla-du-preez-INjdgkCwHp0-unsplash.jpg);
  scroll-behavior: smooth;
}
/* #1ed760 */
/* div#root {
  #fbda21;
  background: black;
} */
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}
#main-wrapper {
  display: -webkit-inline-box;
  box-sizing: border-box;
  max-width: 100vh;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  /* background-color: white; */
}
img {
  width: 100%;
}
