* body {
    box-sizing: border-box;
    margin: 0 !important;
    font-family: "brandon-grotesque";
}
:root #root {
    /* background-color: #fff1b4; */
    background-color: #f9f7ea;
    font-family: 'Times New Roman', Times, sans-serif;
    padding: 0;
    /*  background-color: */
    /* background-color: #fb6c45; */
    /* background-color: #fff1b4 !important; */
    /* background-color: #f9f7ea; */
}

html {
    scroll-behavior: smooth;
    /* background-color: #fff1b4; */
    font-family: "brandon-grotesque";
    /*  background-color: */
    /* background-color: #fb6c45; */
    /* background-color: #fff1b4 !important; */
    background-color: #f9f7ea;
}
